# Для приложения-заглушки ничего не нужно, только стандартный tkinter
# Этот файл оставляем пустым или с комментарием
# Все зависимости встроены в Python


# Основные библиотеки для VoxPersonal v6
#speechrecognition==3.10.0
#pyttsx3==2.90
#pyautogui==0.9.54
#requests==2.31.0
#PyAudio==0.2.11

# Дополнительные для улучшения
#psutil==5.9.5
#pyyaml==6.0.1